@model ToDo.Web.ServiceReference_TaskManager.TaskVM

@{
    ViewBag.Title = "Details";
}

<h2>Task Details</h2>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoneDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoneDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsComplete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsComplete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskLogCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskLogCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>
    <hr />
    <h2>Task Logs</h2>

    <p>
        @Html.ActionLink("Create New Task Log", "Create", "TaskLog", new { taskId = Model.Id }, null)
    </p>
    <table class="table">
        @{
            var taskLogModel = Model.TaskLogs.FirstOrDefault();
        }
        <tr>

            <th>
                @Html.DisplayNameFor(model => taskLogModel.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => taskLogModel.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => taskLogModel.CreationDate)
            </th>
            <th>
                Action
            </th>
        </tr>

        @foreach (var item in Model.TaskLogs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", "TaskLog", new { id = item.Id }, null) |
                    @Html.ActionLink("Delete", "Delete", "TaskLog", new { id = item.Id }, null)
                </td>
            </tr>
        }

    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
